:root{
    --white:#fff;
    --black:#111;
    --blue:blue;
    --grey:rgb(128,128,128);
    --green:#61c96f;
    --red:#f94141;
    }

body{
    margin: 0;
    padding: 0;
    background-color: rgb(237, 231, 231)
}